ul,p{
    margin: 0;
}
header{
    display: flex;
    justify-content: space-between;
    color: white;
    background: #9E5BBA;
    /* padding: 10px; */
}
header p{
    padding-left: 20px;
    margin: 5px;
}
.header_ul{
display: flex;
list-style: none;
margin-right:10px ;
}
.header_ul li{
    margin: 5px;
}
.custom-hr {
    height: 30px;
    width: 1px;
    background-color: #fff;
    margin: 0;
}
.nav_div_1{
    display: flex;
    justify-content: space-between;
}
.nav_lists{
    list-style: none;
    display: flex;
    padding: 0;
}
.feedback-header {
    background-color: #70bf42;
    color: white;
    float: left;
    padding: 15px 15px ;
    font-weight: bold;
    /* text-align: center; */
    /* font-size: 20px; */

}
.custom-hr-2{
        height: 55px;
        width: 1px;
        background-color: #fff;
        margin: 0;
}
.nav_div_2{
    display: inline-block;
    justify-content: center;
}
.search_box{
    /* height: 100px; */
    width: 550px;
    border: 1px solid #ccc;
    padding: 8px 6px;
    border-radius: 5px;
    color: #777;
    background: #fff;
    max-width: 100%;
    display: block;
    outline: none;
    margin-right: 5px;
}
.search_form_flex{
    display: flex;
    margin-top: 15px ;
    /* font-family: kalpurushregular; */
}
.submit_button{
    
}